h1, h2, h3{
    color:skyblue;
}
* {
    background-image: url("backgroundstring.jpg");
}
* {
    text-align: center;
}
.large {
    font-size: 20px;
}
.introFont2 {
    font-style: italic
}

div {
    border: 50px;
    background-color: #fff;
}

/* this puts everything into the middle of the page*/
.outer {
	width:960px;
	margin:0 auto;
    background-color: #fff;
}

/* Displays the navigation bar inline*/
.topnav ul li {
    display: inline-block;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    margin: 20px 0; padding: 10px;
    clear: both;
}
.center {
    text-align: center;
}

